* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper::after {
    content: "";
    display: table;
    clear: both;
}

aside {
    width: 150px;
    height: calc(100vh - 100px);
    background-color: black;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    color: white;
}

main{
    width: calc(100% - 150px);
    height: calc(100vh - 100px);
    background-color: yellow;
    float: left;
    overflow: auto;

}

footer {
    width: 100%;
    background-color: #444;
    float: left;
    display: flex;
    justify-content: space-between;
    color: white;

}


.loghi {
    text-align: center;
    margin: 30px 0;
}

.icon-spotify-single{
    display: block;
}

.icon-spotify-single img {
    max-width: 50px;
}

.logo-spotify-intero {
    display: none;

}

.menu {
    text-align: center;
}

.menu ul {
    list-style-type: none;
}

.menu ul a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: block;
    padding: 10px 0;
}

.menu ul a i {
    font-size: 30px;
}

.menu ul a span {
    display: none;
}

.spotify-playlist-menu {
    display: none;
}

.container-sidebar-bottom {
    text-align: center;
}

.container-sidebar-bottom a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    display: block;
}

.container-sidebar-bottom a span {
    display: none;
}

.container-app {
    margin-bottom: 10px;
    border-bottom: 2px solid white;

}


.fa-arrow-circle-down {
    font-size: 20px;
    margin-bottom: 20px;
}

.fa-user {
    font-size: 40px;
}

/* ----------Fine Sidebar----------- */


/* ----------Inizio Main------------ */


#container-menu-artist {
    max-width: 70%;
    margin: auto;
}

.spotify-menu {
    height: 50px;
    margin: auto;

}

.spotify-menu span {
    display: block;
    font-size: 50px;
    margin-top: 30px;

}


.spotify-menu-list {
    display: none;

}


.title-for-you {
    font-size: 15px;
    margin-bottom: 60px;
    margin-top: 50px;
}


.container-artist {
    display: flex;
    flex-wrap: wrap;
}

.copertina {
    max-width: 150px;
    margin-right: 15px;

}

.copertina-circle {
    max-width: 150px;
    border-radius: 50%;
    margin-right: 15px;
}

.Name-Artist {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}


/* -----------Fine Main----------- */


/* -----------Inizio Footer------- */

.footer-left {
    display: flex;

}

.copertina-small-left {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.copertina-small {
    max-width: 60px;

}

.text-copertina {
    display: none;
}

.fa-heart {
    height: 100%;
    line-height: 100px;
    display: block;
    color: red;
    font-size: 20px;
}

.footer-center {
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icons i {
    font-size: 20px;
    padding: 10px 10px 5px;
    margin-right: 10px;
}

.icons i:last-child {
    margin-right: 0;
}

.icons .fa-pause-circle {
    font-size: 40px;
}


.footer-center-bottom {
    display: flex;
    flex-direction: row;
    flex-grow: 1
}

.footer-center-bottom {
    display: flex;
    align-items: center;
}

.music-bar {
    margin: 0 20px;
    flex-grow: 1

}

.footer-right {
    display: none;

}

.footer-right i {
    margin: 0 10px;
    color: white;
}

/* -------------Fine Footer-------------- */


@media screen and (min-width: 992px) {

    aside {
        width: 250px;
    }

    main{
        width: calc(100% - 250px);
    }

    .loghi {
        margin: 30px 0;
    }

    .icon-spotify-single{
        display: none;
    }

    .logo-spotify-intero {
        display: block;
    }

    .logo-spotify-intero img {
        max-width: 100%;
    }

    .menu {
        text-align: left;
    }

    .menu ul a i {
        margin-right: 10px;

    }

    .menu ul a span {
        display: inline-block;
    }


    .spotify-playlist-menu {
        display: block;
    }

    .spotify-playlist-menu .spotify-playlist {
        text-transform: uppercase;
        font-size: 15px;
        margin-bottom: 10px;
    }

    .spotify-playlist-menu > h3 {
        margin-top: 30px;
    }

    .container-sidebar-bottom {
        text-align: left;

    }

    .container-sidebar-bottom a span {
        display: inline-block;
        margin-left: 10px;
    }

    .spotify-menu {
        max-width: 85%;
    }

    .spotify-menu .fa-bars {
        display: none;
    }

    .spotify-menu-list {
        height: 100px;
        font-size: 11px;
        text-transform: uppercase;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
    }

    .text-copertina {
        padding: 20px 20px 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .name-artist {
        color: white;

    }

    .name-song {
        color: black;
    }


    .footer-right {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px 0 0;
    }

}

@media screen and (max-width: 1100px) {
    .text-copertina {
        display: none;
    }
}

@media screen and (min-width: 1150px) {
    .spotify-menu-list {
        height: 100px;
        font-size: 14px;
        text-transform: uppercase;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
    }

}

@media screen and (min-width: 1400px) {
    .spotify-menu-list {
        height: 100px;
        font-size: 16px;
        text-transform: uppercase;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
    }
}
