* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    width: 20%;
    height: calc(100vh - 100px);
    background-color: black;
    float: left;
    padding: 13px;
}

main{
    width: 80%;
    height: calc(100vh - 100px);
    background-color: yellow;
    float: left;
    overflow: auto;

}

footer {
    width: 100%;
    height: 100px;
    background-color: grey;
    float: left;
    display: flex;
    justify-content: space-between;
    color: white;

}

#spotify-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.container-sidebar-top, .search, .home, .library, .spotify-playlist-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.icon-spotify{
    display: block;
    max-width: 50px;
    margin-bottom: 50px;
    margin-top: 30px;
}

.logo-spotify {
    display: none;

}

.fa-search, .fa-home, .fa-book-open {
    display: block;
    font-size: 25px;
    margin-bottom: 20px;

}

.spotify-subtitle {
    display: none;
}

.spotify-playlist-menu {
    display: none;
}


.container-app {
    border-bottom: 2px solid white;
}


.spotify-app-account {
    display: none;
}

.fa-arrow-circle-down {
    display: block;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;

}

.fa-user {
    display: block;
    font-size: 40px;
    margin-top: 20px;
    text-align: center;
}

/* ----------Fine Sidebar----------- */


/* ----------Inizio Main------------ */


#container-menu-artist {
    max-width: 70%;
    margin: auto;
}

.spotify-menu {
    height: 50px;


}

.fa-bars {
    display: block;
    font-size: 40px;
    margin-top: 40px;

}

.spotify-menu-list {
    display: none;

}


.title-for-you {
    font-size: 15px;
    margin-bottom: 60px;
    margin-top: 50px;
}


.container-artist {
    display: flex;
    flex-wrap: wrap;
}

.copertina {
    max-width: 150px;
    margin-right: 15px;

}

.copertina-circle {
    max-width: 150px;
    border-radius: 50%;
    margin-right: 15px;
}

.Name-Artist {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}


/* -----------Fine Main----------- */


/* -----------Inizio Footer------- */

.footer-left {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer-left span{
    display: none;
}

.copertina-small {
    max-width: 50px;
    margin-left: 20px;
}

.fa-heart {
    color: white;
    margin-left: 10px;
}

.footer-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    color: white;
}

.footer-center-top {
    width: 100%;
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.fa-step-backward, .fa-pause-circle, .fa-step-forward {
    font-size: 20px;
    margin: 0 10px;
}

.footer-center-bottom {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.music-bar {
    width: 50%;
    margin: 0 10px;
}

.footer-right {
    display: none;
    width: 300px;
}

.footer-right i {
    margin: 0 10px;
    color: white;
}






@media screen and (min-width: 768px) {

    .icon-spotify {
        display: none;
    }

    .logo-spotify {
        display: block;
        max-width: 150px;
        margin-top: 10px;
        margin-bottom: 50px;
    }

    .container-sidebar-top, .search, .home, .library, .spotify-playlist-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

    }


    .spotify-subtitle {
        display: block;

    }

    .spotify-playlist-menu {
        display: block;

    }

    .spotify-playlist {
        text-transform: uppercase;
        font-size: 15px;
        margin-bottom: 10px;
    }

    .fa-bars {
        display: none;
    }

    .spotify-menu-list {
        font-size: 11px;
        height: 100px;
        text-transform: uppercase;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
    }

    .container-app, .container-user {
        display: flex;
        margin: 30px 0;
    }

    .spotify-app-account {
        display: flex;
    }

    .fa-arrow-circle-down {
        margin-right: 20px;
        font-size: 20px;
    }

    .fa-user {
        margin-right: 20px;
        font-size: 40px;
    }




}



@media screen and (min-width: 992px) {

    section {
        width: 15%;
        height: calc(100vh - 100px);
        background-color: black;
        float: left;

    }

    main{
        width: 85%;
        height: calc(100vh - 100px) ;
        background-color: yellow;
        float: left;
    }


    footer {
        height: 100px;
        background-color: grey;
        float: left;
    }

    .spotify-menu-list {
        font-size: 16px;
        height: 100px;
        text-transform: uppercase;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
    }

    .footer-left span{
        display: block;
        margin-left: 10px;
    }

    .footer-right {

        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
